##
## Generalized rules for ASM full disks
##
KERNEL=="sd[b-z]",SUBSYSTEM=="block",ENV{ID_MODEL}=="*.fra*|*.data*",PROGRAM="/etc/udev/scripts/udev_iscsidev.sh %b",SYMLINK+="asm-%c",SYMLINK+="asm/%c",OWNER="grid",GROUP="asmadmin",MODE="0660"
